<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <packageSources>
        <!-- Add this repository to the list of available repositories -->
        <add key="Local" value=".\pkg" />
        <add key="Build" value=".\src\MauiApp\MauiLib\bin\Release" />
    </packageSources>
</configuration>